.inbox {
  background-color: white;
}

.next {
  background-color: #E8F0FE; /* Soft Blue for Upcoming/Focus */
}

.waiting {
  background-color: #FFFDE7; /* Soft Yellow for Waiting/Attention */
}

.completed {
  background-color: #E8F5E9; /* Soft Green for Completion/Success */
}
